<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration Form</h1>
<table>
<tr><th>Name</th> <td><input type="text"></td></tr><br><br>
<tr><th>Last Name</th> <td> <input type="text"></td></tr><br><br>
<tr><th>user Name </th> <td> <input type="text"></td></tr><br><br>
<tr><th>Email </th> <td> <input type="email"></td></tr><br><br>
<tr><th>Phone </th> <td> <input type="number"></td></tr><br><br>
<tr><th>Gender </th> <td> <input type="radio" name="gen" >Female
<input type="radio" name="gen">Male</td></tr><br><br>
<tr><th>Address </th> <td> <input type="text"></td></tr><br><br>
<tr><th>DOB </th> <td> <input type="date"></td></tr><br><br>
<tr><th>Password </th> <td> <input type="password"></td></tr><br><br>
<tr><th>Conform Password</th> <td><input type="password"></td></tr>
</table>

</body>
</html>