<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="pink">
<center><h1><u><font color="red">DJANGO</font> </u></h1>
</center>
<p>Django is a free and open source WEB APPLICATION FRAMEWORK which
    offers fast and effective dynamic website development.A WEB FRAMEWORK
    is a code library that makes web development faster and easier by providing
    common patternts for building reliable, scalable and maintainable web applications

</p>


</body>
</html>